Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d

Experiment with pyrpoject macros
  packaging/command-line-assistant.spec
  setup.py
Owners: @r0x0d

Refactor CLI to have separate commands
  .pre-commit-config.yaml
  command_line_assistant/__main__.py
  command_line_assistant/cli.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  pdm.lock
  pyproject.toml
  tests/commands/__init__.py
  tests/commands/test_commands.py
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/test_cli.py
Owners: @rhel-lightspeed/developers

Refactor config module
  command_line_assistant/config.py
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas.py
  tests/config/__init__.py
  tests/config/test_config.py
  tests/config/test_schema.py
  tests/test_config.py
Owners: @rhel-lightspeed/developers

Apply suggestions from code review
  command_line_assistant/__main__.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/commands/utils.py
  tests/commands/test_commands.py
Owners: @rhel-lightspeed/developers

Refactor config module
  command_line_assistant/config.py
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas.py
  tests/config/__init__.py
  tests/config/test_config.py
  tests/config/test_schema.py
  tests/test_config.py
Owners: @rhel-lightspeed/developers

Refactor CLI to have separate commands
  .pre-commit-config.yaml
  command_line_assistant/__main__.py
  command_line_assistant/cli.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  pdm.lock
  pyproject.toml
  tests/commands/__init__.py
  tests/commands/test_commands.py
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/test_cli.py
Owners: @rhel-lightspeed/developers

Apply suggestions from code review
  command_line_assistant/__main__.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/commands/utils.py
  tests/commands/test_commands.py
Owners: @rhel-lightspeed/developers

Remove history commands and components
  command_line_assistant/config.py
  command_line_assistant/handlers.py
  command_line_assistant/history.py
  config.toml
Owners: @rhel-lightspeed/developers

Remove history test files
  command_line_assistant/config.py
  tests/test_config.py
  tests/test_history.py
Owners: @rhel-lightspeed/developers

[RSPEED-299] Initial setup for clad (#40)
  .github/workflows/unit-tests.yml
  CONTRIBUTING.md
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/__init__.py
  data/systemd/clad.service
  data/systemd/clad@.socket
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Refactor the build specfile
  bin/c
  bin/clad
  command_line_assistant/daemon/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/initialize.py
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
  setup.py
  tests/commands/test_history.py
  tests/commands/test_query.py
Owners: @rhel-lightspeed/developers, @r0x0d

Refactor the build specfile (#56)
  bin/c
  bin/clad
  command_line_assistant/daemon/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/initialize.py
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
  setup.py
  tests/commands/test_history.py
  tests/commands/test_query.py
Owners: @rhel-lightspeed/developers, @r0x0d

Initial setup for clad
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .gitignore
  Makefile
  command_line_assistant/commands/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/definitions.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/server.py
  command_line_assistant/handlers.py
  command_line_assistant/logger.py
  data/systemd/clad-devel.service
  packaging/command-line-assistant.spec
  tests/commands/test_commands.py
  tests/conftest.py
  tests/dbus/__init__.py
  tests/dbus/test_server.py
  tests/test_handlers.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Initial setup for clad (#47)
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .gitignore
  Makefile
  command_line_assistant/commands/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/definitions.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/server.py
  command_line_assistant/handlers.py
  command_line_assistant/logger.py
  data/systemd/clad-devel.service
  packaging/command-line-assistant.spec
  tests/commands/test_commands.py
  tests/conftest.py
  tests/dbus/__init__.py
  tests/dbus/test_server.py
  tests/test_handlers.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Refactor config module
  command_line_assistant/config.py
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas.py
  tests/config/__init__.py
  tests/config/test_config.py
  tests/config/test_schema.py
  tests/test_config.py
Owners: @rhel-lightspeed/developers

Refactor CLI to have separate commands
  .pre-commit-config.yaml
  command_line_assistant/__main__.py
  command_line_assistant/cli.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  pdm.lock
  tests/commands/__init__.py
  tests/commands/test_commands.py
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/test_cli.py
Owners: @rhel-lightspeed/developers

[RSPEED-299] Initial setup for clad (#40)
  .github/workflows/unit-tests.yml
  CONTRIBUTING.md
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/__init__.py
  data/systemd/clad.service
  data/systemd/clad@.socket
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Apply suggestions from code review
  command_line_assistant/__main__.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/commands/utils.py
  tests/commands/test_commands.py
Owners: @rhel-lightspeed/developers

Refactor the build specfile (#56)
  bin/c
  bin/clad
  command_line_assistant/daemon/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/initialize.py
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
  setup.py
  tests/commands/test_history.py
  tests/commands/test_query.py
Owners: @rhel-lightspeed/developers, @r0x0d

Initial setup for clad (#47)
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .gitignore
  Makefile
  command_line_assistant/commands/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/definitions.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/server.py
  command_line_assistant/handlers.py
  command_line_assistant/logger.py
  data/systemd/clad-devel.service
  packaging/command-line-assistant.spec
  tests/commands/test_commands.py
  tests/conftest.py
  tests/dbus/__init__.py
  tests/dbus/test_server.py
  tests/test_handlers.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Refactor the CLI to be separate commands
  .pre-commit-config.yaml
  command_line_assistant/__main__.py
  command_line_assistant/cli.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/commands/record.py
  command_line_assistant/config.py
  command_line_assistant/constants.py
  command_line_assistant/utils/__init__.py
  command_line_assistant/utils/cli.py
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/commands/test_record.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_utils.py
  tests/utils/__init__.py
  tests/utils/test_cli.py
  tests/utils/test_utils.py
Owners: @rhel-lightspeed/developers

Fix specfile build
  command_line_assistant/config.py
  packaging/command-line-assistant.spec
  pyproject.toml
  setup.py
Owners: @rhel-lightspeed/developers, @r0x0d

Group test parameters with parametrize
  tests/utils/test_cli.py
Owners: none

Add an experimental rendering module for client
  .pre-commit-config.yaml
  command_line_assistant/rendering/__init__.py
  command_line_assistant/rendering/decorators/__init__.py
  command_line_assistant/rendering/decorators/base.py
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/decorators/style.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/rendering/render.py
  command_line_assistant/rendering/spinner.py
  pdm.lock
  tests/commands/test_commands.py
  tests/commands/test_query.py
  tests/rendering/__init__.py
  tests/rendering/decorators/__init__.py
  tests/rendering/decorators/test_colors.py
  tests/rendering/decorators/test_style.py
  tests/rendering/decorators/test_text.py
  tests/rendering/test_render.py
  tests/rendering/test_spinner.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers

Refactor config module
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas.py
  tests/config/__init__.py
  tests/config/test_config.py
  tests/config/test_schema.py
  tests/test_config.py
Owners: @rhel-lightspeed/developers

Refactor CLI to have separate commands
  .pre-commit-config.yaml
  command_line_assistant/__main__.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/query.py
  tests/commands/__init__.py
  tests/commands/test_commands.py
  tests/commands/test_query.py
Owners: @rhel-lightspeed/developers

Apply suggestions from code review
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/commands/utils.py
  tests/commands/test_commands.py
Owners: @rhel-lightspeed/developers

[RSPEED-299] Initial setup for clad (#40)
  .github/workflows/unit-tests.yml
  CONTRIBUTING.md
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/__init__.py
  data/systemd/clad.service
  data/systemd/clad@.socket
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Refactor the build specfile (#56)
  bin/c
  bin/clad
  command_line_assistant/daemon/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/initialize.py
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
  tests/commands/test_history.py
  tests/commands/test_query.py
Owners: @rhel-lightspeed/developers, @r0x0d

Initial setup for clad (#47)
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .gitignore
  Makefile
  command_line_assistant/commands/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/definitions.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/server.py
  command_line_assistant/handlers.py
  command_line_assistant/logger.py
  data/systemd/clad-devel.service
  packaging/command-line-assistant.spec
  tests/commands/test_commands.py
  tests/conftest.py
  tests/dbus/__init__.py
  tests/dbus/test_server.py
  tests/test_handlers.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix tests after rebase
  command_line_assistant/commands/history.py
  command_line_assistant/commands/record.py
  command_line_assistant/config.py
  command_line_assistant/utils/__init__.py
  command_line_assistant/utils/cli.py
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/commands/test_record.py
  tests/conftest.py
  tests/daemon/test_clad.py
  tests/test_initialize.py
  tests/utils/test_utils.py
Owners: @rhel-lightspeed/developers

Fix pyright and test
  command_line_assistant/commands/history.py
  command_line_assistant/history.py
  data/systemd/clad@.socket
  tests/commands/test_history.py
  tests/test_history.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Change DBUS service name
  Makefile
  command_line_assistant/dbus/constants.py
Owners: @rhel-lightspeed/developers

Add the python3-colorama dependency in specfile
  packaging/command-line-assistant.spec
Owners: @r0x0d

Improve rendering libary
  command_line_assistant/config/__init__.py
  command_line_assistant/rendering/base.py
  command_line_assistant/rendering/decorators/base.py
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/decorators/style.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/rendering/render.py
  command_line_assistant/rendering/renders/__init__.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/rendering/renders/text.py
  command_line_assistant/rendering/spinner.py
  command_line_assistant/rendering/stream.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/environment.py
  tests/config/test_config.py
  tests/conftest.py
  tests/daemon/http/test_adapters.py
  tests/daemon/http/test_session.py
  tests/rendering/decorators/test_colors.py
  tests/rendering/decorators/test_text.py
  tests/rendering/renders/__init__.py
  tests/rendering/renders/test_spinner.py
  tests/rendering/renders/test_text.py
  tests/rendering/test_spinner.py
  tests/rendering/test_stream.py
  tests/test_initialize.py
  tests/utils/test_environment.py
Owners: @rhel-lightspeed/developers

Change DBUS service name (#63)
  Makefile
  command_line_assistant/dbus/constants.py
Owners: @rhel-lightspeed/developers

Refactor the build specfile (#56)
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .gitignore
  Makefile
  bin/c
  bin/clad
  command_line_assistant/commands/__init__.py
  command_line_assistant/daemon/__init__.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/definitions.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/server.py
  command_line_assistant/handlers.py
  command_line_assistant/initialize.py
  command_line_assistant/logger.py
  data/systemd/clad-devel.service
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
  tests/commands/test_commands.py
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/conftest.py
  tests/dbus/__init__.py
  tests/dbus/test_server.py
  tests/test_handlers.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Improve rendering libary (#65)
  command_line_assistant/commands/query.py
  command_line_assistant/config/__init__.py
  command_line_assistant/rendering/base.py
  command_line_assistant/rendering/decorators/base.py
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/decorators/style.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/rendering/render.py
  command_line_assistant/rendering/renders/__init__.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/rendering/renders/text.py
  command_line_assistant/rendering/spinner.py
  command_line_assistant/rendering/stream.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/environment.py
  data/development/config/command_line_assistant/config.toml
  data/release/clad.service
  tests/commands/test_query.py
  tests/config/test_config.py
  tests/conftest.py
  tests/daemon/http/test_adapters.py
  tests/daemon/http/test_session.py
  tests/rendering/decorators/test_colors.py
  tests/rendering/decorators/test_text.py
  tests/rendering/renders/__init__.py
  tests/rendering/renders/test_spinner.py
  tests/rendering/renders/test_text.py
  tests/rendering/test_spinner.py
  tests/rendering/test_stream.py
  tests/test_initialize.py
  tests/utils/test_environment.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

[RSPEED-299] Initial setup for clad (#40)
  .github/workflows/unit-tests.yml
  CONTRIBUTING.md
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/__init__.py
  data/systemd/clad.service
  data/systemd/clad@.socket
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Add the python3-colorama dependency in specfile (#64)
  packaging/command-line-assistant.spec
Owners: @r0x0d
