Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix missing return in bin scripts
  bin/c
  bin/clad
Owners: none

Remove bin folder as it is no longer used
  bin/c
  bin/clad
Owners: none

Add message to indicate where the terminal capture is being recorded
  command_line_assistant/commands/shell.py
Owners: @rhel-lightspeed/developers

Update production endpoint to match AppSre
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add cla binary and a symlink for c
  packaging/command-line-assistant.spec
Owners: @r0x0d

Add cla binary and a symlink for c
  packaging/command-line-assistant.spec
Owners: @r0x0d

Fix session ssl certs not being loaded properly
  command_line_assistant/daemon/http/adapters.py
  command_line_assistant/daemon/http/session.py
  tests/daemon/http/test_session.py
Owners: @rhel-lightspeed/developers

Fix incorrect key on database schema
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Improve CLAD systemd unit security
  data/release/systemd/clad.service
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix prod url for release config
  data/release/systemd/clad.service
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Specify pymysql in the mysql connection string
  command_line_assistant/config/schemas/database.py
  tests/config/schemas/test_database.py
Owners: @rhel-lightspeed/developers

Update data/release/xdg/config.toml
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Improve CLAD systemd unit security
  data/release/systemd/clad.service
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update data/release/xdg/config.toml
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update data/release/xdg/config.toml
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update data/release/systemd/clad.service
  data/release/systemd/clad.service
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix several things in the manual pages
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/conf.py
  docs/source/man/command-line-assistant.1.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add explanation for --description in chat command
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Update prepare-release-script to update docs version
  scripts/prepare_release.py
Owners: none

Add a --from-chat switch to history to filter out conversation
  command_line_assistant/commands/history.py
  command_line_assistant/daemon/database/models/history.py
  command_line_assistant/daemon/database/repository/base.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/structures/history.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  tests/commands/test_history.py
  tests/conftest.py
  tests/dbus/interfaces/test_history.py
  tests/dbus/structures/test_history.py
  tests/history/test_manager.py
Owners: @rhel-lightspeed/developers

Fix 'where' conditions for sqlalchemy
  command_line_assistant/daemon/database/repository/base.py
  command_line_assistant/dbus/interfaces/chat.py
Owners: @rhel-lightspeed/developers

Include better error information from API
  command_line_assistant/daemon/http/query.py
  command_line_assistant/initialize.py
  tests/daemon/http/test_query.py
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers

Update rtd builds
  .readthedocs.yaml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Owners: none

Fix unit-tests for history interface
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  tests/dbus/interfaces/test_history.py
Owners: @rhel-lightspeed/developers

Prevent one character input from query_string and stdin
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Update manpages for `c` and `clad`
  command_line_assistant/commands/feedback.py
  data/release/man/c.1
  data/release/man/clad.8
  data/release/xdg/config.toml
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix typos and wording on manpages
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
Owners: none

Disallow empty query arguments for query_string and stdin
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Change the interactive key binding to ctrl+g
  command_line_assistant/commands/shell.py
  command_line_assistant/integrations.py
  data/release/man/c.1
  docs/source/man/command-line-assistant.1.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add `make man` to prepare-release script
  scripts/prepare_release.py
Owners: none

Add `make man` to prepare-release script
  scripts/prepare_release.py
Owners: none

Update prepare_release script to receive interactive mode
  Makefile
  scripts/prepare_release.py
Owners: none

Update command_line_assistant/commands/chat.py
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Fix dbus permissions for clad
  data/release/dbus/com.redhat.lightspeed.conf
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Simpify cert loading
  command_line_assistant/daemon/http/session.py
  tests/daemon/http/test_session.py
Owners: @rhel-lightspeed/developers

Remove selinux context from dbus policy
  data/release/dbus/com.redhat.lightspeed.conf
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add workaround to enforce user access to bus name
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/common.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/interfaces/user.py
Owners: @rhel-lightspeed/developers

Install D-Bus policy into datadir
  packaging/command-line-assistant.spec
Owners: @r0x0d

Include a very loose policy for development
  data/development/dbus/com.redhat.lightspeed.conf
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add comment about RBAC in dbus policy
  data/release/dbus/com.redhat.lightspeed.conf
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d
