Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d

Fix history --all command
  command_line_assistant/commands/history.py
Owners: @rhel-lightspeed/developers

Test selinux policy after build
  data/release/selinux/Makefile
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

[RSPEED-409] Add raw mode (#162)
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  data/release/man/c.1
  data/release/man/clad.8
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add error handling for history command
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/interfaces/history.py
  tests/commands/test_history.py
  tests/dbus/interfaces/test_history.py
Owners: @rhel-lightspeed/developers

Build manpages on pr label
  .github/workflows/build-manpages.yaml
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .readthedocs.yaml
  docs/requirements.txt
  docs/source/config/schemas/index.rst
  docs/source/config/schemas/output.rst
  docs/source/handlers.rst
  docs/source/index.rst
  poetry.lock
  pyproject.toml
Owners: @rhel-lightspeed/developers

Build manpages on pr label
  .github/workflows/build-manpages.yaml
  .gitignore
  Makefile
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/config/schemas/index.rst
  docs/source/config/schemas/output.rst
  docs/source/handlers.rst
  docs/source/index.rst
  poetry.lock
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Build manpages on pr label (#177)
  .github/workflows/build-manpages.yaml
  .gitignore
  Makefile
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/config/schemas/index.rst
  docs/source/config/schemas/output.rst
  docs/source/handlers.rst
  docs/source/index.rst
  poetry.lock
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add simple prepare release script
  scripts/prepare_release.py
Owners: none

Update to push event for building manpages
  .github/workflows/build-manpages.yaml
Owners: @rhel-lightspeed/developers

Add simple prepare release script (#178)
  scripts/prepare_release.py
Owners: none

Add error handling for history command (#174)
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/interfaces/history.py
  tests/commands/test_history.py
  tests/dbus/interfaces/test_history.py
Owners: @rhel-lightspeed/developers

Update to push event for building manpages (#179)
  .github/workflows/build-manpages.yaml
Owners: @rhel-lightspeed/developers

Fix selinux policy configs
  data/release/selinux/clad.fc
  data/release/selinux/clad.if
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix selinux policy configs (#180)
  data/release/selinux/clad.fc
  data/release/selinux/clad.if
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix files and folders permissions when installing the RPM.
  packaging/command-line-assistant.spec
Owners: @r0x0d

Fix files and folders permissions when installing the RPM. (#181)
  packaging/command-line-assistant.spec
Owners: @r0x0d

Remove default value for with-output
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Add a timing decorator to help understand slowness
  command_line_assistant/commands/chat.py
  command_line_assistant/initialize.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/utils/benchmark.py
  data/development/config/command-line-assistant/config.toml
  docs/source/utils/benchmark.rst
  docs/source/utils/index.rst
  tests/utils/test_benchmark.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add a timing decorator to help understand slowness (#183)
  command_line_assistant/commands/chat.py
  command_line_assistant/initialize.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/utils/benchmark.py
  data/development/config/command-line-assistant/config.toml
  docs/source/utils/benchmark.rst
  docs/source/utils/index.rst
  tests/utils/test_benchmark.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Change WriteOnceDecorator to be per session
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/decorators/text.py
  tests/rendering/decorators/test_text.py
Owners: @rhel-lightspeed/developers

Change WriteOnceDecorator to be per session (#185)
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/decorators/text.py
  tests/rendering/decorators/test_text.py
Owners: @rhel-lightspeed/developers

Add ability to load credentials from systemd
  command_line_assistant/commands/history.py
  command_line_assistant/config/schemas/database.py
  command_line_assistant/daemon/database/manager.py
  data/development/config/command-line-assistant/config.toml
  docs/source/man/clad.8.rst
  packaging/command-line-assistant.spec
  tests/config/schemas/test_database.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Add ability to load credentials from systemd (#184)
  command_line_assistant/commands/history.py
  command_line_assistant/config/schemas/database.py
  command_line_assistant/daemon/database/manager.py
  data/development/config/command-line-assistant/config.toml
  docs/source/man/clad.8.rst
  packaging/command-line-assistant.spec
  tests/config/schemas/test_database.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Remove default value for with-output (#182)
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Improve error message for missing history
  command_line_assistant/commands/history.py
  tests/commands/test_history.py
Owners: @rhel-lightspeed/developers

Improve error message for missing history (#186)
  command_line_assistant/commands/history.py
  tests/commands/test_history.py
Owners: @rhel-lightspeed/developers

Fix none values in stdin and query_string
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Fix none values in stdin and query_string (#188)
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Fix typo in interactive session message
  command_line_assistant/rendering/renders/interactive.py
Owners: @rhel-lightspeed/developers

Fix typo in interactive session message (#192)
  command_line_assistant/rendering/renders/interactive.py
Owners: @rhel-lightspeed/developers

Enable the non deterministic (tier1) testing through packit
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Enable the non deterministic (tier1) testing through packit (#167)
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Change permissions for xdg and lib folder for cla
  packaging/command-line-assistant.spec
Owners: @r0x0d

Fix search ordering in last output function
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  command_line_assistant/utils/files.py
  tests/terminal/test_parser.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers

Add KeyboardInterrupt exception catch to top-level call
  command_line_assistant/initialize.py
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers

Limit down the size of message that will be sent to the backend
  command_line_assistant/commands/chat.py
  command_line_assistant/utils/renderers.py
  scripts/prepare_release.py
  tests/commands/test_chat.py
  tests/utils/test_renderers.py
Owners: @rhel-lightspeed/developers

Change permissions for xdg and lib folder for cla (#194)
  packaging/command-line-assistant.spec
Owners: @r0x0d

Fix search ordering in last output function (#193)
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  command_line_assistant/utils/files.py
  tests/terminal/test_parser.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers

Add KeyboardInterrupt exception catch to top-level call (#191)
  command_line_assistant/initialize.py
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers

Limit down the size of message that will be sent to the backend (#189)
  command_line_assistant/commands/chat.py
  command_line_assistant/utils/renderers.py
  scripts/prepare_release.py
  tests/commands/test_chat.py
  tests/utils/test_renderers.py
Owners: @rhel-lightspeed/developers
