Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Organize optional dependencies
  .readthedocs.yaml
  Makefile
  poetry.lock
  pyproject.toml
Owners: none

Add Containerfile for CLA
  .readthedocs.yaml
  Containerfile
  Makefile
  container-images/default.Containerfile
  poetry.lock
  pyproject.toml
  scripts/prepare_release.py
Owners: none

Fix misspelled CHAT_NAMESPACE variable
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/exceptions.py
Owners: @rhel-lightspeed/developers

Fix misspelled CHAT_NAMESPACE variable
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/exceptions.py
Owners: @rhel-lightspeed/developers

Organize optional dependencies
  .readthedocs.yaml
  Makefile
  poetry.lock
  pyproject.toml
Owners: none

Remove and deprecate verify_ssl option
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/daemon/http/session.py
  data/development/xdg/command-line-assistant/config.toml
  data/release/xdg/config.toml
  tests/config/schemas/test_backend.py
  tests/config/schemas/test_schema.py
  tests/config/test_config.py
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/daemon/http/test_session.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update command_line_assistant/daemon/http/session.py
  command_line_assistant/daemon/http/session.py
Owners: @rhel-lightspeed/developers

Cleanup from sonarqube alerts
  command_line_assistant/commands/chat.py
  command_line_assistant/daemon/database/manager.py
  command_line_assistant/daemon/http/adapters.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/daemon/http/session.py
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Add Containerfile for CLA
  Containerfile
  Makefile
  container-images/default.Containerfile
  scripts/prepare_release.py
Owners: none

renovate: Enable best practices config
  renovate.json
Owners: none

Fix terminal width handling in TextWrapDecorator
  command_line_assistant/rendering/decorators/text.py
  tests/rendering/decorators/test_text.py
Owners: @rhel-lightspeed/developers

Add horizontal line after spinner message
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Fix regression for `c history`
  command_line_assistant/client.py
  command_line_assistant/utils/cli.py
  tests/test_client.py
Owners: @rhel-lightspeed/developers

Prepare for release v0.4.1
  Makefile
  command_line_assistant/constants.py
  container-images/default.Containerfile
  data/release/man/c.1
  data/release/man/clad.8
  data/release/selinux/clad.te
  docs/source/conf.py
  packaging/command-line-assistant.spec
  pyproject.toml
  tests/dbus/interfaces/test_chat.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Konflux update command-line-assistant Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/command-line-assistant-pull-request.yaml
  .tekton/command-line-assistant-push.yaml
Owners: none

Update pipeline
  .tekton/command-line-assistant-pull-request.yaml
  .tekton/command-line-assistant-push.yaml
  .tekton/pipeline-build.yaml
  .tekton/pull_request.yaml
  .tekton/push.yaml
Owners: none

Update Konflux references
  .tekton/pipeline-build.yaml
Owners: none

Only remove CLA files from /tmp/
  container-images/default.Containerfile
Owners: none

Fix round sizing for human readable numbers
  command_line_assistant/commands/chat.py
  command_line_assistant/utils/renderers.py
  tests/utils/test_renderers.py
Owners: @rhel-lightspeed/developers

fix: make install fails with poetry config errors
  poetry.lock
  pyproject.toml
Owners: none

fix: missing dev config for poetry in pyproject
  poetry.lock
  pyproject.toml
Owners: none

Migrate from poetry to uv
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .gitlab-ci.yml
  .readthedocs.yaml
  CONTRIBUTING.md
  Makefile
  container-images/default.Containerfile
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Owners: @rhel-lightspeed/developers

Refactor commands module
  command_line_assistant/client.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/history/manager.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/dbus.py
  command_line_assistant/utils/renderers.py
  docs/source/utils/dbus.rst
  tests/commands/test_chat.py
  tests/commands/test_feedback.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/dbus/interfaces/test_history.py
  tests/history/test_manager.py
  tests/test_client.py
  tests/utils/test_dbus.py
Owners: @rhel-lightspeed/developers

Apply code review suggestions
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/history/manager.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/dbus.py
  command_line_assistant/utils/renderers.py
Owners: @rhel-lightspeed/developers

add configurable timeouts
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/daemon/http/query.py
  data/development/xdg/command-line-assistant/config.toml
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix typo in warning message for total input size
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Change pre-commit autoupdate schedule to monthly
  .pre-commit-config.yaml
Owners: none

Migrate from poetry to uv
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .gitlab-ci.yml
  .readthedocs.yaml
  CONTRIBUTING.md
  Makefile
  container-images/default.Containerfile
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Owners: @rhel-lightspeed/developers

Update dependencies every month
  renovate.json
Owners: none

Catch OSError being thrown by submit method
  command_line_assistant/daemon/http/query.py
  tests/daemon/http/test_query.py
Owners: @rhel-lightspeed/developers

Prepare for release 0.4.2
  Makefile
  command_line_assistant/constants.py
  container-images/default.Containerfile
  data/release/man/c.1
  data/release/man/clad.8
  data/release/selinux/clad.te
  docs/source/conf.py
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Refactor commands module
  command_line_assistant/client.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/history/manager.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/dbus.py
  command_line_assistant/utils/renderers.py
  docs/source/utils/dbus.rst
  tests/commands/test_chat.py
  tests/commands/test_feedback.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/dbus/interfaces/test_history.py
  tests/history/test_manager.py
  tests/test_client.py
  tests/utils/test_dbus.py
Owners: @rhel-lightspeed/developers

Apply code review suggestions
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/history/manager.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/dbus.py
  command_line_assistant/utils/renderers.py
Owners: @rhel-lightspeed/developers

Fixes after rebase
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
  uv.lock
Owners: @rhel-lightspeed/developers

Apply suggestions from code review
  command_line_assistant/client.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/cli.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/dbus/client.py
  command_line_assistant/rendering/renderers.py
  docs/source/commands/cli.rst
  docs/source/commands/index.rst
  docs/source/dbus/client.rst
  docs/source/dbus/index.rst
  docs/source/rendering/index.rst
  docs/source/rendering/renderers.rst
  tests/commands/test_chat.py
  tests/commands/test_cli.py
  tests/commands/test_feedback.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/conftest.py
  tests/dbus/test_client.py
  tests/rendering/test_renderers.py
  tests/test_client.py
Owners: @rhel-lightspeed/developers

Enable colorized and formatted output
  command_line_assistant/commands/cli.py
Owners: @rhel-lightspeed/developers

Add Python-Markdown ANSI extension
  command_line_assistant/rendering/animation.py
  command_line_assistant/rendering/colors.py
  command_line_assistant/rendering/formatting.py
  command_line_assistant/rendering/markdown.py
  command_line_assistant/rendering/renders/markdown.py
  command_line_assistant/rendering/streaming.py
  examples/ansi_markdown_demo.py
  packaging/command-line-assistant.spec
  pyproject.toml
  tests/rendering/test_colors.py
  tests/rendering/test_formatting.py
  tests/rendering/test_markdown.py
  uv.lock
Owners: @rhel-lightspeed/developers, @r0x0d

Add StreamWriter class that writes chunked output to a TextIO
  command_line_assistant/rendering/stream.py
Owners: @rhel-lightspeed/developers

Update Renderer class to use StreamWriter
  command_line_assistant/rendering/renderers.py
Owners: @rhel-lightspeed/developers

Delete old renderers
  command_line_assistant/client.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/rendering/decorators/__init__.py
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/decorators/style.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/rendering/renderers.py
  command_line_assistant/rendering/renders/__init__.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/rendering/renders/markdown.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/rendering/renders/text.py
  tests/rendering/decorators/__init__.py
  tests/rendering/decorators/test_colors.py
  tests/rendering/decorators/test_style.py
  tests/rendering/decorators/test_text.py
  tests/rendering/renders/__init__.py
  tests/rendering/renders/test_interactive.py
  tests/rendering/renders/test_markdown.py
  tests/rendering/renders/test_spinner.py
  tests/rendering/renders/test_text.py
  tests/rendering/test_renderers.py
Owners: @rhel-lightspeed/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d
