Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d

Add PlainText, PlainMarkdown and StaticSpinner renderers
  command_line_assistant/client.py
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/rendering/renders/markdown.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/rendering/renders/text.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/renderers.py
  data/release/man/c.1
  tests/commands/test_chat.py
  tests/rendering/renders/test_markdown.py
  tests/rendering/renders/test_text.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Suppress --plain and default to True
  command_line_assistant/utils/cli.py
  data/release/man/c.1
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Prepare for release v0.4.0
  Makefile
  command_line_assistant/constants.py
  data/release/man/c.1
  data/release/man/clad.8
  data/release/selinux/clad.te
  docs/source/conf.py
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Use psycopg2_binary instead for pre-built binaries
  poetry.lock
  pyproject.toml
Owners: none

Increase request timeout to 60 seconds
  command_line_assistant/daemon/http/query.py
Owners: @rhel-lightspeed/developers

WIP
  command_line_assistant/daemon/database/manager.py
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @r0x0d

Fix distribution-tarball to include schemas directory
  Makefile
Owners: none

Remove link to GitHub Discussions
  README.md
Owners: none

Increase question/context size to 32k
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Update command_line_assistant/commands/chat.py
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Use psycopg2_binary instead for pre-built binaries
  poetry.lock
  pyproject.toml
Owners: none

Increase question/context size to 32k
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Update command_line_assistant/commands/chat.py
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Update .packit.yaml target distros
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Add horizontal lines in upstream code
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Limit permission for history database to own user
  command_line_assistant/daemon/database/manager.py
  tests/config/schemas/test_database.py
Owners: @rhel-lightspeed/developers

Refactor commands module
  command_line_assistant/client.py
  command_line_assistant/commands/README.md
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/dbus.py
  command_line_assistant/utils/renderers.py
  docs/source/utils/dbus.rst
  tests/commands/test_chat.py
  tests/commands/test_feedback.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/test_client.py
Owners: @rhel-lightspeed/developers

Print help message in case of command has no arguments
  command_line_assistant/client.py
  tests/test_client.py
Owners: @rhel-lightspeed/developers

Add kind/refactor to the pool of releases
  .github/release.yml
Owners: @rhel-lightspeed/developers

try decoding the JSON and handle the error gracefully
  command_line_assistant/daemon/http/query.py
  tests/daemon/http/test_query.py
Owners: @rhel-lightspeed/developers

Remove query composition from chat
  command_line_assistant/commands/chat.py
  command_line_assistant/dbus/interfaces/chat.py
  tests/commands/test_chat.py
  tests/dbus/interfaces/test_chat.py
Owners: @rhel-lightspeed/developers

Fix legal message regression found in 0.4
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/decorators/text.py
  tests/commands/test_chat.py
  tests/rendering/decorators/test_text.py
Owners: @rhel-lightspeed/developers

Fix interactive mode regression
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Update command_line_assistant/client.py
  command_line_assistant/client.py
Owners: @rhel-lightspeed/developers

Remove query composition from chat
  .pre-commit-config.yaml
  command_line_assistant/commands/chat.py
  command_line_assistant/dbus/interfaces/chat.py
  tests/commands/test_chat.py
  tests/dbus/interfaces/test_chat.py
Owners: @rhel-lightspeed/developers

Remove nevra collection from inference payload
  command_line_assistant/dbus/interfaces/chat.py
  tests/dbus/interfaces/test_chat.py
Owners: @rhel-lightspeed/developers

Allow to pass terminal output without question or stdin
  command_line_assistant/commands/chat.py
  docs/source/man/command-line-assistant.1.rst
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

packaging: Add tmpfiles.d config for /var folder
  data/release/systemd/clad.tmpfiles.conf
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Refactor commands module
  command_line_assistant/client.py
  command_line_assistant/commands/__init__.py
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/history/manager.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/dbus.py
  command_line_assistant/utils/renderers.py
  docs/source/utils/dbus.rst
  tests/commands/test_chat.py
  tests/commands/test_feedback.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/dbus/interfaces/test_history.py
  tests/history/test_manager.py
  tests/test_client.py
  tests/utils/test_dbus.py
Owners: @rhel-lightspeed/developers

Fix CommandContext to get user ID correctly by changing from os.getegid() to os.geteuid()
  command_line_assistant/utils/cli.py
Owners: @rhel-lightspeed/developers

Fix CommandContext to get user ID correctly by changing from os.getegid() to os.geteuid()
  command_line_assistant/utils/cli.py
Owners: @rhel-lightspeed/developers

Fix CommandContext to get user ID correctly by changing from os.getegid() to os.geteuid()
  command_line_assistant/utils/cli.py
Owners: @rhel-lightspeed/developers

Fix typo for Jira links workflow
  .github/workflows/jira-links.yml
Owners: @rhel-lightspeed/developers

Cleanup from sonarqube alerts
  command_line_assistant/commands/chat.py
  command_line_assistant/daemon/database/manager.py
  command_line_assistant/daemon/http/adapters.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/daemon/http/session.py
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Update command_line_assistant/daemon/http/session.py
  command_line_assistant/daemon/http/session.py
Owners: @rhel-lightspeed/developers

feat: add initial devcontainer configuration with Containerfile
  .devcontainer/Containerfile
  .devcontainer/devcontainer.json
Owners: none

Remove and deprecate verify_ssl option
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/daemon/http/session.py
  data/development/xdg/command-line-assistant/config.toml
  data/release/xdg/config.toml
  tests/config/schemas/test_backend.py
  tests/config/schemas/test_schema.py
  tests/config/test_config.py
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/daemon/http/test_session.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Actually follow the docs to install deps
  .devcontainer/Containerfile
Owners: none

fix(devcontainer): rebase to fedora
  .devcontainer/Containerfile
Owners: none

Add missing line for %files in rpmbuild
  packaging/command-line-assistant.spec
Owners: @r0x0d
