Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Refactor CLI to have separate commands
  .pre-commit-config.yaml
  command_line_assistant/__main__.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/commands/utils.py
  tests/commands/__init__.py
  tests/commands/test_commands.py
  tests/commands/test_query.py
Owners: @rhel-lightspeed/developers

Enable copr builds in develop
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Update specfile to include config from release dir
  data/release/config.toml
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Use a SystemMessageBus and a config for dbus
  command_line_assistant/dbus/constants.py
  data/release/clad.service
  data/release/com.redhat.lightspeed.conf
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Split the query and history dbus implementations
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/context.py
  command_line_assistant/dbus/definitions.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/server.py
  command_line_assistant/dbus/structures.py
  data/development/config/command_line_assistant/config.toml
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/daemon/test_server.py
  tests/dbus/test_context.py
  tests/dbus/test_interfaces.py
  tests/dbus/test_server.py
  tests/dbus/test_structures.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Switch to system bus instead of session bus
  Makefile
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/server.py
  data/development/systemd/clad-devel.service
  data/release/com.redhat.lightspeed.conf
  tests/dbus/test_server.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add schema for input/output queries and history
  schemas/command-line-assistant-v0.1.json
Owners: none

WIP - Execute commands from LLM
  command_line_assistant/commands/query.py
  command_line_assistant/dbus/context.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/structures.py
  command_line_assistant/handlers.py
  command_line_assistant/rendering/decorators/menu.py
  command_line_assistant/rendering/renders/menu.py
Owners: @rhel-lightspeed/developers

Update systemd units to be socket activated
  data/development/systemd/clad-devel.service
  data/release/clad.service
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

The connect_signals was triggered the API request twice
  command_line_assistant/dbus/interfaces.py
  tests/dbus/test_interfaces.py
Owners: @rhel-lightspeed/developers

Add local history management and improve the command
  command_line_assistant/commands/history.py
  command_line_assistant/config/schemas.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/structures.py
  command_line_assistant/history.py
  command_line_assistant/history/__init__.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/__init__.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/history/schemas.py
  data/development/config/command_line_assistant/config.toml
  tests/commands/test_history.py
  tests/config/test_config.py
  tests/conftest.py
  tests/dbus/test_interfaces.py
  tests/dbus/test_structures.py
  tests/history/__init__.py
  tests/history/plugins/__init__.py
  tests/history/plugins/test_local.py
  tests/history/test_manager.py
  tests/history/test_schemas.py
  tests/test_history.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update query to use RLSAPI instead of RCS
  command_line_assistant/daemon/http/query.py
Owners: @rhel-lightspeed/developers

Update query code to rlsrag backend
  command_line_assistant/daemon/http/query.py
  tests/daemon/http/test_query.py
Owners: @rhel-lightspeed/developers

Improve error handling for history and query
  .pre-commit-config.yaml
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/commands/record.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/history/base.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/utils/cli.py
  data/development/config/command_line_assistant/config.toml
  data/release/config.toml
  data/release/history.json
  packaging/command-line-assistant.spec
  tests/commands/test_history.py
  tests/commands/test_query.py
  tests/daemon/http/test_query.py
  tests/dbus/test_interfaces.py
  tests/history/plugins/test_local.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Update systemd release units to be d-bus activable
  data/development/systemd/clad-devel.service
  data/release/dbus/com.redhat.lightspeed.conf
  data/release/dbus/com.redhat.lightspeed.history.service
  data/release/dbus/com.redhat.lightspeed.query.service
  data/release/systemd/clad.service
  data/release/xdg/config.toml
  data/release/xdg/history.json
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix unit tests
  tests/dbus/test_context.py
  tests/dbus/test_interfaces.py
  tests/history/plugins/test_local.py
  tests/rendering/renders/test_spinner.py
Owners: none

Add readthedocs build support
  .readthedocs.yaml
  docs/requirements.txt
Owners: none

Fix readthedocs yaml config
  .readthedocs.yaml
Owners: none

Fix build path
  docs/source/conf.py
Owners: none

Fix query read from stdin
  command_line_assistant/commands/query.py
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  data/development/config/command_line_assistant/config.toml
  data/release/xdg/history.json
  tests/commands/test_commands.py
  tests/commands/test_query.py
  tests/test_initialize.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix makefile systemd comment
  Makefile
Owners: none

Remove colorama dependency and use only unicodes
  .pre-commit-config.yaml
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/decorators/style.py
  docs/source/conf.py
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
Owners: @rhel-lightspeed/developers, @r0x0d

Small modifications to CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Add exception handling for SSL certificates
  command_line_assistant/daemon/http/session.py
Owners: @rhel-lightspeed/developers

Add unit tests
  tests/daemon/http/test_session.py
Owners: none

Apply NO_COLOR to colored output
  command_line_assistant/rendering/decorators/colors.py
  tests/rendering/decorators/test_colors.py
Owners: @rhel-lightspeed/developers

Add audit logging capability to CLAD
  command_line_assistant/commands/query.py
  command_line_assistant/config/schemas.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/structures.py
  command_line_assistant/logger.py
  data/development/config/command_line_assistant/config.toml
  tests/commands/test_query.py
  tests/conftest.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Generate manpages for CLA and CLAD
  .packit.yaml
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
  docs/source/man/index.rst
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
Owners: @rhel-lightspeed/quality-engineering, @rhel-lightspeed/developers, @r0x0d

Add manpages to data/release/man
  .packit.yaml
  Makefile
  data/release/man/c.1
  data/release/man/clad.8
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/quality-engineering, @rhel-lightspeed/developers, @r0x0d

Generate manpages for CLA and CLAD
  .packit.yaml
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/quality-engineering, @r0x0d

Add manpages to data/release/man
  .packit.yaml
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/quality-engineering, @r0x0d

Prevent binary files from being sent to the server
  command_line_assistant/initialize.py
  packaging/command-line-assistant.spec
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers, @r0x0d

Small code refactor for outputting text
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/initialize.py
  command_line_assistant/rendering/base.py
  command_line_assistant/utils/renderers.py
  docs/source/utils/index.rst
  docs/source/utils/renderers.rst
  tests/commands/test_history.py
  tests/conftest.py
  tests/helpers.py
  tests/rendering/renders/test_spinner.py
  tests/rendering/renders/test_text.py
  tests/test_initialize.py
  tests/utils/test_renderers.py
Owners: @rhel-lightspeed/developers

Update legal message
  command_line_assistant/commands/query.py
Owners: @rhel-lightspeed/developers

Normalize the folder name to command-line-assistant
  command_line_assistant/config/__init__.py
  packaging/command-line-assistant.spec
  tests/config/test_config.py
  tests/conftest.py
Owners: @rhel-lightspeed/developers, @r0x0d

Remove record command
  command_line_assistant/commands/record.py
  command_line_assistant/initialize.py
  tests/commands/test_record.py
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers

Allow only deterministic tests to be run.
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Fix config.toml for release and devel path
  config.toml
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add audit logging to sys.stdout
  command_line_assistant/logger.py
  pdm.lock
Owners: @rhel-lightspeed/developers

Fix config.toml for release and devel path
  config.toml
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d
