Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Extract error messages from HTTP responses
  command_line_assistant/daemon/http/query.py
  tests/daemon/http/test_query.py
Owners: @rhel-lightspeed/developers

test
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/clad.8.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add exception handling for RuntimeError
  command_line_assistant/initialize.py
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers

Prepare for release v0.3.1
  Makefile
  command_line_assistant/constants.py
  data/release/man/c.1
  data/release/man/clad.8
  data/release/selinux/clad.te
  docs/source/conf.py
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix rpmlint hook to check for .spec files
  .pre-commit-config.yaml
Owners: none

Fix typoo in the com.redhat.lightspeed.conf
  data/release/dbus/com.redhat.lightspeed.conf
  docs/source/man/clad.8.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update docs/source/man/clad.8.rst
  docs/source/man/clad.8.rst
Owners: none

ignore .python-version file
  .gitignore
Owners: none

Document the system header requirements
  CONTRIBUTING.md
Owners: none

Revert config.toml to use localhost instead of MPP endpoint
  data/development/config/command-line-assistant/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix '.exit' from interactive mode
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/renders/interactive.py
  tests/commands/test_chat.py
  tests/rendering/renders/test_interactive.py
Owners: @rhel-lightspeed/developers

Add s390x and ppc64le architectures to packit builds
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Fix '.exit' from interactive mode
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/renders/interactive.py
  tests/commands/test_chat.py
  tests/rendering/renders/test_interactive.py
Owners: @rhel-lightspeed/developers

Disable allow_abbrev in argument parser
  command_line_assistant/utils/cli.py
Owners: @rhel-lightspeed/developers

Update command_line_assistant/utils/cli.py
  command_line_assistant/utils/cli.py
Owners: @rhel-lightspeed/developers

Add check in clear(-all) to check if there is any chat to clean
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/interfaces/chat.py
  tests/commands/test_history.py
  tests/dbus/interfaces/test_chat.py
Owners: @rhel-lightspeed/developers

Add label automation to help in release changelog
  .github/release.yml
  .github/workflows/enforce_labels.yml
  .github/workflows/jira-links.yml
Owners: @rhel-lightspeed/developers

Add tmpfs SELinux domain
  data/release/selinux/clad.te
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Remove redundant exception message
  command_line_assistant/rendering/renders/interactive.py
  tests/rendering/renders/test_interactive.py
Owners: @rhel-lightspeed/developers

Remove config.toml from root folder
  config.toml
  data/development/certificate/fake-certificate.pem
  data/development/certificate/fake-key.pem
  data/development/xdg/command-line-assistant/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Remove outdated sections from CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update Makefile to link dbus conf
  Makefile
Owners: none

Remove outdated sections from CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Add labels for renovate pull requests
  renovate.json
Owners: none

Update colors in MarkdownRenderer to make the text more visible
  command_line_assistant/rendering/renders/markdown.py
  tests/rendering/renders/test_markdown.py
Owners: @rhel-lightspeed/developers

Fix chat description and name defaults
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Apply fixes to commands description and manpage in general
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/utils/cli.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/clad.8.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix legal message not showing up on each session
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Prevent --with-output without terminal capture
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/shell.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Apply suggestions from code review
  command_line_assistant/commands/history.py
  data/release/man/c.1
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix unit-tests
  tests/commands/test_chat.py
  tests/terminal/test_parser.py
  tests/terminal/test_reader.py
Owners: none

Add VSCode debug json for both CLA and CLAD
  .vscode/launch.json
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Disable colors in output
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Disable colors in output (#324)
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Revert "Disable colors in output (#324)"
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Prevent --with-output without terminal capture
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/shell.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Fix unit-tests
  tests/commands/test_chat.py
  tests/terminal/test_parser.py
  tests/terminal/test_reader.py
Owners: none

Fix legal message not showing up on each session
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Apply fixes to commands description and manpage in general
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/utils/cli.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/clad.8.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Apply suggestions from code review
  command_line_assistant/commands/history.py
  data/release/man/c.1
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d
