Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d

Add audit logging to sys.stdout
  command_line_assistant/logger.py
  pdm.lock
Owners: @rhel-lightspeed/developers

Fix config.toml for release and devel path
  config.toml
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Include a filter option for history management
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/history/schemas.py
  command_line_assistant/logger.py
  tests/commands/test_history.py
  tests/conftest.py
  tests/dbus/test_interfaces.py
  tests/history/plugins/test_local.py
  tests/history/test_schemas.py
Owners: @rhel-lightspeed/developers

Include a filter option for history management
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/history/schemas.py
  command_line_assistant/logger.py
  tests/commands/test_history.py
  tests/conftest.py
  tests/dbus/test_interfaces.py
  tests/history/plugins/test_local.py
  tests/history/test_schemas.py
Owners: @rhel-lightspeed/developers

Implement a basic user session management
  command_line_assistant/daemon/session.py
  docs/source/daemon/clad.rst
  docs/source/daemon/session.rst
  tests/daemon/test_session.py
Owners: @rhel-lightspeed/developers

Add new dependencies for readthedocs to build
  .readthedocs.yaml
  docs/requirements.txt
Owners: none

Add missing dependency for readthedocs
  docs/requirements.txt
Owners: none

Add --input for query subcommand
  command_line_assistant/commands/query.py
  command_line_assistant/config/__init__.py
  command_line_assistant/constants.py
  command_line_assistant/daemon/http/session.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/logger.py
  command_line_assistant/utils/files.py
  command_line_assistant/utils/renderers.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/commands/index.rst
  docs/source/commands/record.rst
  docs/source/daemon/clad.rst
  docs/source/daemon/index.rst
  docs/source/daemon/session.rst
  docs/source/man/command-line-assistant.1.rst
  docs/source/utils/environment.rst
  docs/source/utils/files.rst
  docs/source/utils/index.rst
  tests/commands/test_query.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Migrate JSON history cache to database solution
  .pre-commit-config.yaml
  command_line_assistant/config/schemas.py
  command_line_assistant/daemon/database/__init__.py
  command_line_assistant/daemon/database/manager.py
  command_line_assistant/daemon/database/models/__init__.py
  command_line_assistant/daemon/database/models/base.py
  command_line_assistant/daemon/database/models/history.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/history/schemas.py
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
  docs/source/daemon/database/index.rst
  docs/source/daemon/database/manager.rst
  docs/source/daemon/database/models/base.rst
  docs/source/daemon/database/models/history.rst
  docs/source/daemon/database/models/index.rst
  docs/source/daemon/index.rst
  packaging/command-line-assistant.spec
  pdm.lock
  pyproject.toml
  tests/commands/test_history.py
  tests/config/test_config.py
  tests/config/test_schema.py
  tests/conftest.py
  tests/daemon/database/__init__.py
  tests/daemon/database/test_manager.py
  tests/dbus/test_interfaces.py
  tests/history/plugins/test_local.py
  tests/history/test_manager.py
  tests/history/test_schemas.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix CodeQL workflow to run on develop
  .github/workflows/codeql.yml
Owners: @rhel-lightspeed/developers

Fix build
  .packit.yaml
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/quality-engineering, @r0x0d

Fix ordering from history results
  command_line_assistant/history/plugins/local.py
  tests/dbus/test_interfaces.py
Owners: @rhel-lightspeed/developers

Add user_id to history tables.
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/config/schemas.py
  command_line_assistant/daemon/database/models/history.py
  command_line_assistant/daemon/session.py
  command_line_assistant/dbus/context.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/server.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/logger.py
  command_line_assistant/utils/cli.py
  data/development/config/command-line-assistant/config.toml
  tests/commands/test_query.py
  tests/conftest.py
  tests/daemon/database/test_manager.py
  tests/daemon/test_session.py
  tests/dbus/test_context.py
  tests/dbus/test_interfaces.py
  tests/dbus/test_server.py
  tests/history/plugins/test_local.py
  tests/history/test_manager.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update manpages for RH1
  command_line_assistant/commands/history.py
  command_line_assistant/commands/query.py
  command_line_assistant/utils/cli.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/conf.py
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
  tests/commands/test_query.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update rpm changelog
  packaging/command-line-assistant.spec
Owners: @r0x0d

Remove json history from rpm spec
  packaging/command-line-assistant.spec
Owners: @r0x0d

Fix returncode when running commands
  command_line_assistant/initialize.py
  packaging/command-line-assistant.spec
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers, @r0x0d

Update packaging to include selinux custom policy
  .gitignore
  data/release/selinux/Makefile
  data/release/selinux/clad.fc
  data/release/selinux/clad.if
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Update sepolicy
  .gitignore
  command_line_assistant/logger.py
  data/release/selinux/Makefile
  data/release/selinux/clad.fc
  data/release/selinux/clad.if
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Cleaning up leftover things
  Makefile
  data/release/selinux/Makefile
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Remove caret handling from query submission
  command_line_assistant/daemon/http/query.py
Owners: @rhel-lightspeed/developers

Add workaround for SQLite UUID types
  command_line_assistant/daemon/database/models/base.py
  command_line_assistant/daemon/database/models/history.py
  data/development/config/command-line-assistant/config.toml
  packaging/command-line-assistant.spec
  tests/daemon/database/models/__init__.py
  tests/daemon/database/models/test_base.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Experiment: Trying fedora builds
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Update .packit.yaml
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Add String size limit to SQLAlchemy models
  command_line_assistant/config/schemas.py
  command_line_assistant/daemon/database/models/history.py
  data/release/xdg/config.toml
  packaging/command-line-assistant.spec
  pdm.lock
  podman-compose.yaml
  pyproject.toml
  tests/conftest.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Uncomment output settings in release config
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Release v0.2
  command_line_assistant/constants.py
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @r0x0d

Release v0.2
  data/release/selinux/clad.te
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Change import location for SQLAlchemy
  command_line_assistant/daemon/database/models/base.py
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @r0x0d

Release v0.2.1
  command_line_assistant/constants.py
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Introduce SonarQube scanning
  .github/workflows/sonarqube.yml
  sonar-project.properties
Owners: @rhel-lightspeed/developers

Introduce SonarQube scanning
  .gitlab-ci.yml
  sonar-project.properties
Owners: none

Specify tag for selecting runners
  .gitlab-ci.yml
Owners: none

Redirect to stderr instead of stdout for error msgs
  command_line_assistant/utils/renderers.py
  tests/commands/test_query.py
  tests/test_initialize.py
  tests/utils/test_renderers.py
Owners: @rhel-lightspeed/developers

Add codespell workflow
  .github/workflows/codespell.yml
Owners: @rhel-lightspeed/developers

Update spelling
  .github/workflows/codespell.yml
  CONTRIBUTING.md
  command_line_assistant/commands/history.py
  command_line_assistant/rendering/base.py
  command_line_assistant/utils/environment.py
  command_line_assistant/utils/renderers.py
  data/release/xdg/config.toml
  docs/requirements.txt
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
  docs/source/meta.rst
  packaging/command-line-assistant.spec
  pyproject.toml
  scripts/check_sphinx_docs.py
  tests/config/test_schema.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Little rework to start sending context alongside question
  command_line_assistant/commands/query.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/structures.py
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/files.py
  data/development/config/command-line-assistant/config.toml
  tests/commands/test_query.py
  tests/daemon/http/test_query.py
  tests/dbus/test_interfaces.py
  tests/test_initialize.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add couple of test cases
  command_line_assistant/initialize.py
  tests/commands/test_query.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers

Update config schemas
  Makefile
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas.py
  command_line_assistant/config/schemas/__init__.py
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/config/schemas/history.py
  command_line_assistant/config/schemas/logging.py
  command_line_assistant/config/schemas/output.py
  docs/source/conf.py
  docs/source/config/index.rst
  docs/source/config/schemas/backend.rst
  docs/source/config/schemas/history.rst
  docs/source/config/schemas/index.rst
  docs/source/config/schemas/logging.rst
  docs/source/config/schemas/output.rst
  tests/config/test_schema.py
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/test_handlers.py
Owners: @rhel-lightspeed/developers

Update tests for schemas
  command_line_assistant/config/schemas/history.py
  tests/config/schemas/__init__.py
  tests/config/schemas/test_history.py
  tests/config/schemas/test_logging.py
  tests/config/schemas/test_schema.py
Owners: @rhel-lightspeed/developers
