Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d

Fix container builds
  Makefile
  container-images/default.Containerfile
Owners: none

Fix container builds in Konflux
  container-images/default.Containerfile
  pyproject.toml
Owners: none

Add multi-arch builds in Konflux
  .tekton/pipeline-build.yaml
  .tekton/pull_request.yaml
  .tekton/push.yaml
  container-images/default.Containerfile
Owners: none

Enable hermetic builds
  .tekton/pipeline-build.yaml
  container-images/default.Containerfile
  requirements-build.txt
  requirements.txt
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
  uv.lock
Owners: none

Pin dasbus to 1.4 and pygobject to 3.40.1
  poetry.lock
  pyproject.toml
  tests/daemon/database/repository/test_base.py
Owners: none

Revert "Disable colors in output (#324)"
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Disable colors in output by always returning True
  command_line_assistant/rendering/decorators/colors.py
Owners: @rhel-lightspeed/developers

Remove ANSI color codes from test output
  tests/commands/test_feedback.py
  tests/rendering/decorators/test_colors.py
  tests/rendering/renders/test_markdown.py
  tests/rendering/renders/test_spinner.py
  tests/rendering/renders/test_text.py
  tests/test_initialize.py
  tests/utils/test_renderers.py
Owners: none

Revert "Disable colors in output (#324)"
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Disable colors in output by always returning True
  command_line_assistant/rendering/decorators/colors.py
Owners: @rhel-lightspeed/developers

Remove ANSI color codes from test output
  tests/commands/test_feedback.py
  tests/rendering/decorators/test_colors.py
  tests/rendering/renders/test_markdown.py
  tests/rendering/renders/test_spinner.py
  tests/rendering/renders/test_text.py
  tests/test_initialize.py
  tests/utils/test_renderers.py
Owners: none

Pin dasbus to 1.4 and pygobject to 3.40.1
  poetry.lock
  pyproject.toml
  tests/daemon/database/repository/test_base.py
Owners: none

Add horizontal lines to output
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Add D-Bus interface authorization
  command_line_assistant/dbus/interfaces/authorization.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/interfaces/user.py
  tests/conftest.py
Owners: @rhel-lightspeed/developers

CustomServerObjectHandler
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/sender_context.py
  command_line_assistant/dbus/server.py
  tests/dbus/test_sender_context.py
Owners: @rhel-lightspeed/developers

CustomServerObjectHandler
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/sender_context.py
  command_line_assistant/dbus/server.py
  tests/dbus/test_sender_context.py
Owners: @rhel-lightspeed/developers

Add D-Bus interface authorization
  command_line_assistant/dbus/interfaces/authorization.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/interfaces/user.py
  tests/conftest.py
Owners: @rhel-lightspeed/developers

Add horizontal lines to output
  command_line_assistant/commands/chat.py
Owners: @rhel-lightspeed/developers

Pin dasbus to 1.4 and pygobject to 3.40.1
  pyproject.toml
  uv.lock
Owners: none

Remove f40 and add f43
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Add D-Bus interface authorization
  command_line_assistant/dbus/interfaces/authorization.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/interfaces/user.py
  docs/source/dbus/interfaces/authorization.rst
  tests/dbus/interfaces/test_chat.py
  tests/dbus/interfaces/test_history.py
  tests/dbus/interfaces/test_user.py
Owners: @rhel-lightspeed/developers

CustomServerObjectHandler
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/sender_context.py
  command_line_assistant/dbus/server.py
  docs/source/dbus/sender_context.rst
  tests/dbus/test_sender_context.py
Owners: @rhel-lightspeed/developers

CustomServerObjectHandler
  command_line_assistant/dbus/sender_context.py
  command_line_assistant/dbus/server.py
  docs/source/dbus/sender_context.rst
  tests/dbus/test_sender_context.py
Owners: @rhel-lightspeed/developers

Add D-Bus interface authorization
  command_line_assistant/dbus/interfaces/authorization.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/interfaces/user.py
  docs/source/dbus/interfaces/authorization.rst
  tests/dbus/interfaces/test_chat.py
  tests/dbus/interfaces/test_history.py
  tests/dbus/interfaces/test_user.py
Owners: @rhel-lightspeed/developers
