Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Add noreplace to config file in specfile
  packaging/command-line-assistant.spec
Owners: @r0x0d

Swap to poetry instead of PDM
  .github/workflows/codeql.yml
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  docs/requirements.txt
  poetry.lock
  poetry.toml
  pyproject.toml
  tox.ini
Owners: @rhel-lightspeed/developers

Release v0.2.2
  command_line_assistant/constants.py
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Update config schemas (#137)
  Makefile
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas.py
  command_line_assistant/config/schemas/__init__.py
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/config/schemas/history.py
  command_line_assistant/config/schemas/logging.py
  command_line_assistant/config/schemas/output.py
  docs/source/conf.py
  docs/source/config/index.rst
  docs/source/config/schemas/backend.rst
  docs/source/config/schemas/history.rst
  docs/source/config/schemas/index.rst
  docs/source/config/schemas/logging.rst
  docs/source/config/schemas/output.rst
  tests/config/schemas/__init__.py
  tests/config/schemas/test_history.py
  tests/config/schemas/test_logging.py
  tests/config/schemas/test_schema.py
  tests/config/test_schema.py
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/test_handlers.py
Owners: @rhel-lightspeed/developers

[RSPEED-506] Little rework to start sending context alongside question (#135)
  command_line_assistant/commands/query.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/structures.py
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/files.py
  data/development/config/command-line-assistant/config.toml
  tests/commands/test_query.py
  tests/daemon/http/test_query.py
  tests/dbus/test_interfaces.py
  tests/test_initialize.py
  tests/utils/test_cli.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Swap to poetry instead of PDM (#109)
  .github/workflows/codeql.yml
  .github/workflows/sanity.yml
  .github/workflows/unit-tests.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  docs/requirements.txt
  poetry.lock
  poetry.toml
  pyproject.toml
  tox.ini
Owners: @rhel-lightspeed/developers

Add proxy setting for config.toml
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/daemon/http/session.py
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/daemon/http/test_session.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add proxy setting for config.toml (#136)
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/daemon/http/session.py
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/daemon/http/test_session.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Split database schema to a new file
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas/database.py
  command_line_assistant/config/schemas/history.py
  command_line_assistant/daemon/database/manager.py
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
  data/release/xdg/history.json
  docs/source/config/schemas/database.rst
  tests/config/schemas/test_database.py
  tests/config/schemas/test_schema.py
  tests/config/test_config.py
  tests/conftest.py
  tests/daemon/database/test_manager.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update manpages with new information
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/clad.8.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update manpages with new information (#141)
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/clad.8.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Split database schema to a new file (#140)
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas/database.py
  command_line_assistant/config/schemas/history.py
  command_line_assistant/daemon/database/manager.py
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
  data/release/xdg/history.json
  docs/source/config/schemas/database.rst
  tests/config/schemas/test_database.py
  tests/config/schemas/test_schema.py
  tests/config/test_config.py
  tests/conftest.py
  tests/daemon/database/test_manager.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Rename all instances of public "query" to "chat"
  command_line_assistant/commands/chat.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/server.py
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  data/release/dbus/com.redhat.lightspeed.chat.service
  data/release/dbus/com.redhat.lightspeed.conf
  data/release/man/c.1
  docs/source/commands/chat.rst
  docs/source/commands/index.rst
  docs/source/commands/query.rst
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
  packaging/command-line-assistant.spec
  tests/commands/test_chat.py
  tests/dbus/test_interfaces.py
  tests/dbus/test_server.py
  tests/test_initialize.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Rename all instances of public "query" to "chat" (#142)
  command_line_assistant/commands/chat.py
  command_line_assistant/dbus/constants.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/dbus/interfaces.py
  command_line_assistant/dbus/server.py
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  data/release/dbus/com.redhat.lightspeed.chat.service
  data/release/dbus/com.redhat.lightspeed.conf
  data/release/man/c.1
  docs/source/commands/chat.rst
  docs/source/commands/index.rst
  docs/source/commands/query.rst
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
  packaging/command-line-assistant.spec
  tests/commands/test_chat.py
  tests/dbus/test_interfaces.py
  tests/dbus/test_server.py
  tests/test_initialize.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Minor improvement to the spinner
  command_line_assistant/rendering/renders/spinner.py
  tests/rendering/renders/test_spinner.py
Owners: @rhel-lightspeed/developers

Minor fix to accept the locale_encoding replacement
  command_line_assistant/rendering/renders/spinner.py
Owners: @rhel-lightspeed/developers

Fixes for unit tests and new tests cases added
  .pre-commit-config.yaml
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/daemon/database/repository/base.py
  command_line_assistant/daemon/database/repository/history.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/history/plugins/local.py
  tests/commands/test_chat.py
  tests/commands/test_history.py
  tests/daemon/database/repository/__init__.py
  tests/daemon/database/repository/test_base.py
  tests/daemon/database/repository/test_chat.py
  tests/daemon/database/repository/test_history.py
  tests/dbus/interfaces/test_chat.py
  tests/dbus/interfaces/test_history.py
  tests/dbus/interfaces/test_user.py
  tests/history/plugins/test_local.py
  tests/history/test_manager.py
Owners: @rhel-lightspeed/developers

Fix chat creation
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers

Fix os-release parser
  command_line_assistant/utils/cli.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers

Add dbus service activation for user
  data/release/dbus/com.redhat.lightspeed.conf
  data/release/dbus/com.redhat.lightspeed.user.service
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Add dbus service activation for user
  data/release/dbus/com.redhat.lightspeed.conf
  data/release/dbus/com.redhat.lightspeed.user.service
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Add basic interactive mode for chat session
  command_line_assistant/commands/chat.py
  command_line_assistant/daemon/database/models/chat.py
  command_line_assistant/exceptions.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/utils/renderers.py
  data/development/config/command-line-assistant/config.toml
  docs/source/exceptions.rst
  docs/source/index.rst
  docs/source/rendering/renders/interactive.rst
  tests/commands/test_chat.py
  tests/rendering/renders/test_interactive.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add simple and interactive chat session
  command_line_assistant/commands/chat.py
  command_line_assistant/daemon/database/models/chat.py
  command_line_assistant/exceptions.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/utils/renderers.py
  data/development/config/command-line-assistant/config.toml
  docs/source/exceptions.rst
  docs/source/index.rst
  docs/source/rendering/renders/interactive.rst
  tests/commands/test_chat.py
  tests/rendering/renders/test_interactive.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Minor improvement to the spinner
  command_line_assistant/rendering/renders/spinner.py
  tests/rendering/renders/test_spinner.py
Owners: @rhel-lightspeed/developers

Minor fix to accept the locale_encoding replacement
  command_line_assistant/rendering/renders/spinner.py
Owners: @rhel-lightspeed/developers

Add simple and interactive chat session (#146)
  command_line_assistant/commands/chat.py
  command_line_assistant/daemon/database/models/chat.py
  command_line_assistant/exceptions.py
  command_line_assistant/rendering/renders/interactive.py
  command_line_assistant/utils/renderers.py
  data/development/config/command-line-assistant/config.toml
  docs/source/exceptions.rst
  docs/source/index.rst
  docs/source/rendering/renders/interactive.rst
  tests/commands/test_chat.py
  tests/rendering/renders/test_interactive.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Minor improvements to spinner (#143)
  command_line_assistant/rendering/renders/spinner.py
  tests/rendering/renders/test_spinner.py
Owners: @rhel-lightspeed/developers

Update manpages with suggestions from docs team
  command_line_assistant/logger.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/utils/cli.py
  data/development/config/command-line-assistant/config.toml
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/command-line-assistant.1.rst
  docs/source/rendering/renders/index.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Default audit logging for release to false
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Default audit logging for release to false (#148)
  data/release/xdg/config.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update manpages with suggestions from docs team (#147)
  command_line_assistant/logger.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/utils/cli.py
  data/development/config/command-line-assistant/config.toml
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/command-line-assistant.1.rst
  docs/source/rendering/renders/index.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Rework audit logging system
  command_line_assistant/config/schemas/logging.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/server.py
  command_line_assistant/initialize.py
  command_line_assistant/logger.py
  command_line_assistant/utils/cli.py
  data/development/config/command-line-assistant/config.toml
  data/release/selinux/clad.fc
  data/release/xdg/config.toml
  packaging/command-line-assistant.spec
  tests/config/schemas/test_logging.py
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/dbus/interfaces/test_chat.py
  tests/dbus/interfaces/test_history.py
  tests/test_initialize.py
  tests/test_logger.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Rework audit logging system (#149)
  command_line_assistant/config/schemas/logging.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/server.py
  command_line_assistant/initialize.py
  command_line_assistant/logger.py
  command_line_assistant/utils/cli.py
  data/development/config/command-line-assistant/config.toml
  data/release/selinux/clad.fc
  data/release/xdg/config.toml
  packaging/command-line-assistant.spec
  tests/config/schemas/test_logging.py
  tests/conftest.py
  tests/daemon/http/test_query.py
  tests/dbus/interfaces/test_chat.py
  tests/dbus/interfaces/test_history.py
  tests/test_initialize.py
  tests/test_logger.py
  tests/utils/test_cli.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Add a new shell command to handle integrations
  command_line_assistant/commands/shell.py
  command_line_assistant/initialize.py
  command_line_assistant/integrations.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/environment.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/commands/index.rst
  docs/source/commands/shell.rst
  docs/source/index.rst
  docs/source/integrations.rst
  docs/source/man/command-line-assistant.1.rst
  poetry.lock
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Unit testing
  command_line_assistant/commands/shell.py
  tests/commands/test_shell.py
  tests/test_initialize.py
  tests/utils/test_cli.py
  tests/utils/test_environment.py
Owners: @rhel-lightspeed/developers

[RSPEED-586] Add a new shell command to handle integrations (#150)
  command_line_assistant/commands/shell.py
  command_line_assistant/initialize.py
  command_line_assistant/integrations.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/environment.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/commands/index.rst
  docs/source/commands/shell.rst
  docs/source/index.rst
  docs/source/integrations.rst
  docs/source/man/command-line-assistant.1.rst
  poetry.lock
  pyproject.toml
  tests/commands/test_shell.py
  tests/test_initialize.py
  tests/utils/test_cli.py
  tests/utils/test_environment.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix typoos in the CLAD man page documentation
  docs/source/man/clad.8.rst
Owners: none

Fix typoos in the CLAD man page documentation (#152)
  docs/source/man/clad.8.rst
Owners: none

Track the develop branch in for CLA test suite
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Increase timeouts for systemd service
  data/release/systemd/clad.service
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d
