Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d

Add message when the history is not enabled in the config file
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/initialize.py
  tests/commands/test_chat.py
  tests/commands/test_history.py
  tests/history/plugins/test_local.py
  tests/history/test_manager.py
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers

Add markdown renderer for chat and history
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/rendering/renders/markdown.py
  command_line_assistant/rendering/renders/text.py
  command_line_assistant/utils/renderers.py
  docs/source/rendering/renders/index.rst
  docs/source/rendering/renders/markdown.rst
  tests/commands/test_chat.py
  tests/commands/test_history.py
  tests/rendering/renders/test_markdown.py
Owners: @rhel-lightspeed/developers

Update links to use RHEL bug tracker
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add message when the history is not enabled in the config file (#187)
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/dbus/exceptions.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/initialize.py
  tests/commands/test_chat.py
  tests/commands/test_history.py
  tests/history/plugins/test_local.py
  tests/history/test_manager.py
  tests/test_initialize.py
Owners: @rhel-lightspeed/developers

Add markdown renderer for chat and history (#190)
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/rendering/renders/markdown.py
  command_line_assistant/rendering/renders/text.py
  command_line_assistant/utils/renderers.py
  docs/source/rendering/renders/index.rst
  docs/source/rendering/renders/markdown.rst
  tests/commands/test_chat.py
  tests/commands/test_history.py
  tests/rendering/renders/test_markdown.py
Owners: @rhel-lightspeed/developers

Update links to use RHEL bug tracker (#195)
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/clad.8.rst
  docs/source/man/command-line-assistant.1.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix contents of persistent-capture
  command_line_assistant/commands/shell.py
  command_line_assistant/integrations.py
Owners: @rhel-lightspeed/developers

Fix docstring for text render class
  command_line_assistant/rendering/renders/text.py
Owners: @rhel-lightspeed/developers

Fix contents of persistent-capture (#197)
  command_line_assistant/commands/shell.py
  command_line_assistant/integrations.py
Owners: @rhel-lightspeed/developers

Fix docstring for text render class (#198)
  command_line_assistant/rendering/renders/text.py
Owners: @rhel-lightspeed/developers

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Owners: none

Poetry lock maintenance
  poetry.lock
Owners: none

Simplify pyproject.toml dependencies
  Makefile
  poetry.lock
  pyproject.toml
Owners: none

[Packit] switch testing to 'main' cla-tests branch and use level1 test suite
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Fix terminal line wrapping when in terminal capture mode
  command_line_assistant/terminal/reader.py
  tests/terminal/test_reader.py
Owners: @rhel-lightspeed/developers

Add null-character as prefix in logs to make parsing easier
  command_line_assistant/logger.py
Owners: @rhel-lightspeed/developers

Update markdown text from "Suggestion" to "Snippet"
  command_line_assistant/commands/chat.py
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/renders/markdown.py
  tests/commands/test_history.py
  tests/rendering/renders/test_markdown.py
Owners: @rhel-lightspeed/developers

Remove persistent capture mode (for now)
  command_line_assistant/commands/shell.py
  command_line_assistant/integrations.py
  tests/commands/test_shell.py
Owners: @rhel-lightspeed/developers

Small sonarqube fixes
  command_line_assistant/commands/history.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/logger.py
Owners: @rhel-lightspeed/developers

Use mock_config instead of Config object in tests
  tests/dbus/test_server.py
Owners: none

WIP feedback mechanism
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/shell.py
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  docs/source/commands/feedback.rst
Owners: @rhel-lightspeed/developers

Fix created_at dates for history and chat
  command_line_assistant/commands/history.py
  command_line_assistant/daemon/database/models/base.py
  command_line_assistant/daemon/database/repository/base.py
  command_line_assistant/history/plugins/local.py
Owners: @rhel-lightspeed/developers

Add simple feedback mechanism
  command_line_assistant/commands/feedback.py
  command_line_assistant/exceptions.py
  docs/source/commands/index.rst
  tests/commands/test_feedback.py
Owners: @rhel-lightspeed/developers

Prepare for release v0.3.0
  command_line_assistant/constants.py
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Prepare for release v0.3.0
  command_line_assistant/constants.py
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Initialize bashrc.d folder when capturing terminal
  command_line_assistant/commands/shell.py
Owners: @rhel-lightspeed/developers

Prepare for release v0.3.0 (#219)
  command_line_assistant/constants.py
  data/release/man/c.1
  data/release/man/clad.8
  data/release/selinux/clad.te
  packaging/command-line-assistant.spec
  pyproject.toml
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix incorrect use of marker in terminal reader
  command_line_assistant/commands/shell.py
  command_line_assistant/terminal/reader.py
Owners: @rhel-lightspeed/developers

Fix incorrect use of marker in terminal reader
  command_line_assistant/commands/shell.py
  command_line_assistant/integrations.py
  command_line_assistant/terminal/reader.py
  tests/commands/test_shell.py
  tests/terminal/test_reader.py
Owners: @rhel-lightspeed/developers

Update manpages with recent information
  command_line_assistant/commands/chat.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/command-line-assistant.1.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update manpages with recent information (#227)
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/man/command-line-assistant.1.rst
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Hide submit parameter from feedback command
  command_line_assistant/commands/feedback.py
  data/release/man/c.1
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Increase code coverage with more unit tests
  command_line_assistant/daemon/session.py
  tests/commands/test_chat.py
  tests/commands/test_feedback.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/config/schemas/test_database.py
  tests/config/schemas/test_schema.py
  tests/daemon/database/models/test_base.py
  tests/daemon/database/test_manager.py
  tests/daemon/http/test_query.py
  tests/daemon/http/test_session.py
  tests/daemon/test_session.py
  tests/dbus/interfaces/test_history.py
  tests/dbus/interfaces/test_user.py
  tests/rendering/decorators/test_colors.py
  tests/rendering/decorators/test_text.py
  tests/rendering/renders/test_interactive.py
  tests/rendering/renders/test_markdown.py
  tests/rendering/renders/test_spinner.py
  tests/rendering/renders/test_text.py
  tests/rendering/test_stream.py
  tests/terminal/test_reader.py
  tests/test_logger.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers

Fix typos in legal and feedback message
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  tests/commands/test_feedback.py
Owners: @rhel-lightspeed/developers

Update command_line_assistant/commands/feedback.py
  command_line_assistant/commands/feedback.py
Owners: @rhel-lightspeed/developers

Update --name help message to be more clear
  command_line_assistant/commands/chat.py
  data/release/man/c.1
  data/release/man/clad.8
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix inconsistency in reading the terminal output
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Fix typo in shell command line switch
  command_line_assistant/commands/shell.py
  data/release/man/c.1
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix build-manpages workflow
  .github/workflows/build-manpages.yaml
Owners: @rhel-lightspeed/developers

Remove build-manpages workflow
  .github/workflows/build-manpages.yaml
Owners: @rhel-lightspeed/developers
