Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Add labels for renovate pull requests
  renovate.json
Owners: none

Add VSCode debug json for both CLA and CLAD
  .vscode/launch.json
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Fix chat description and name defaults
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Add general file locking mechanism
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/shell.py
  command_line_assistant/utils/files.py
  tests/commands/test_chat.py
  tests/commands/test_shell.py
  tests/conftest.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers

Add missing property and config to launch.json
  .vscode/launch.json
Owners: none

Create the history.db parent directory
  command_line_assistant/daemon/database/manager.py
Owners: @rhel-lightspeed/developers

Use mypy instead of pyright
  .github/workflows/sanity.yml
  .pre-commit-config.yaml
  command_line_assistant/config/__init__.py
  command_line_assistant/daemon/database/models/base.py
  command_line_assistant/daemon/database/models/chat.py
  command_line_assistant/daemon/database/models/history.py
  command_line_assistant/daemon/database/repository/chat.py
  command_line_assistant/daemon/database/repository/history.py
  command_line_assistant/dbus/structures/base.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/logger.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/utils/environment.py
  setup.py
  tests/config/test_config.py
Owners: @rhel-lightspeed/developers

Apply suggestions from code review
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/shell.py
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Update release workflow
  .github/workflows/release.yml
  Makefile
Owners: @rhel-lightspeed/developers

Generate tarball on every tag release
  .github/workflows/release.yml
  Makefile
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @r0x0d

Point the test job to the `develop` branch
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Include both ~/.config and data/development config
  .vscode/launch.json
  command_line_assistant/utils/environment.py
Owners: @rhel-lightspeed/developers

Include both ~/.config and data/development config
  .vscode/launch.json
  command_line_assistant/utils/environment.py
Owners: @rhel-lightspeed/developers

Add general file locking mechanism
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/shell.py
  command_line_assistant/utils/files.py
  tests/commands/test_chat.py
  tests/commands/test_shell.py
  tests/conftest.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers

Apply suggestions from code review
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/shell.py
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Update command_line_assistant/utils/files.py
  command_line_assistant/utils/files.py
Owners: @rhel-lightspeed/developers

Add comment for sending signal 0 to pid
  command_line_assistant/utils/files.py
  tests/commands/test_shell.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers

Revert type annotations for SQLAlchemy
  command_line_assistant/daemon/database/models/base.py
  command_line_assistant/daemon/database/models/chat.py
  command_line_assistant/daemon/database/models/history.py
Owners: @rhel-lightspeed/developers

Point the test job to the `develop` branch
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Improve error message in case a new terminal is used
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/shell.py
  command_line_assistant/utils/files.py
  tests/commands/test_shell.py
Owners: @rhel-lightspeed/developers

Fix chat description and name defaults
  command_line_assistant/commands/chat.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Add fedora42 builds in COPR
  .packit.yaml
  data/release/selinux/clad.fc
  data/release/systemd/clad.service
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/quality-engineering, @rhel-lightspeed/developers, @r0x0d

Submit systeminfo to backend as part of context
  command_line_assistant/commands/chat.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/structures/chat.py
  tests/dbus/interfaces/test_chat.py
Owners: @rhel-lightspeed/developers

Default to --all in history command
  command_line_assistant/commands/history.py
  tests/commands/test_history.py
Owners: @rhel-lightspeed/developers

Add status command to verify subscription and daemon operations
  command_line_assistant/commands/status.py
  command_line_assistant/dbus/interfaces/base.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/interfaces/user.py
  command_line_assistant/exceptions.py
  command_line_assistant/initialize.py
  command_line_assistant/utils/cli.py
  docs/source/commands/index.rst
  docs/source/commands/status.rst
  docs/source/dbus/interfaces/base.rst
  docs/source/dbus/interfaces/index.rst
Owners: @rhel-lightspeed/developers

Update command_line_assistant/dbus/structures/chat.py
  command_line_assistant/dbus/structures/chat.py
Owners: @rhel-lightspeed/developers

Fix unprocessable entity request for inference
  command_line_assistant/dbus/interfaces/chat.py
  tests/dbus/interfaces/test_chat.py
Owners: @rhel-lightspeed/developers

Rename initialize to main
  command_line_assistant/client.py
  pyproject.toml
  tests/test_client.py
Owners: @rhel-lightspeed/developers

Move command_line_assistant.initialize
  .vscode/launch.json
  command_line_assistant/client.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/client.rst
  docs/source/index.rst
  docs/source/initialize.rst
  docs/source/man/command-line-assistant.1.rst
  pyproject.toml
  tests/test_client.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Adjust exit codes
  command_line_assistant/client.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/feedback.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/exceptions.py
  data/release/man/c.1
  docs/source/man/command-line-assistant.1.rst
  tests/commands/test_chat.py
  tests/commands/test_feedback.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/test_client.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update prepare-release script to create a new branch
  scripts/prepare_release.py
Owners: none

Create history.db as part of rpm installation
  packaging/command-line-assistant.spec
Owners: @r0x0d

Check for the presence of .bashrc.d
  command_line_assistant/commands/shell.py
  tests/commands/test_shell.py
Owners: @rhel-lightspeed/developers

Honor the http_proxy environment variables
  command_line_assistant/daemon/http/session.py
  tests/daemon/http/test_session.py
Owners: @rhel-lightspeed/developers

Add RHEL 9 to available releases
  README.md
Owners: none

Add how to try cla to README
  README.md
Owners: none

Update prepare-release script to create a new branch
  scripts/prepare_release.py
Owners: none

Pre-create history.db with correct permissions
  command_line_assistant/daemon/database/manager.py
  packaging/command-line-assistant.spec
Owners: @rhel-lightspeed/developers, @r0x0d

Honor the http_proxy environment variables
  command_line_assistant/config/schemas/backend.py
  tests/config/schemas/test_schema.py
Owners: @rhel-lightspeed/developers

Exclude __main__ from test coverage
  pyproject.toml
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d
