Repository rhel-lightspeed/command-line-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering, @r0x0d

Fix logging for client and daemon
  command_line_assistant/config/schemas/logging.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/server.py
  command_line_assistant/initialize.py
  command_line_assistant/logger.py
  data/development/config/command-line-assistant/config.toml
  tests/conftest.py
  tests/daemon/test_clad.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix rpmlint warnings and add pre-commit hook
  .pre-commit-config.yaml
  packaging/command-line-assistant.spec
Owners: @r0x0d

Increase timeouts for systemd service (#155)
  data/release/systemd/clad.service
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix logging for client and daemon (#156)
  command_line_assistant/config/schemas/logging.py
  command_line_assistant/daemon/clad.py
  command_line_assistant/dbus/server.py
  command_line_assistant/initialize.py
  command_line_assistant/logger.py
  data/development/config/command-line-assistant/config.toml
  tests/conftest.py
  tests/daemon/test_clad.py
  tests/test_logger.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix rpmlint warnings and add pre-commit hook (#158)
  .pre-commit-config.yaml
  packaging/command-line-assistant.spec
Owners: @r0x0d

Fix sonarqube - round 1
  .github/workflows/unit-tests.yml
  .gitlab-ci.yml
  Makefile
  sonar-project.properties
Owners: @rhel-lightspeed/developers

Fix sonarqube - round 1 (#159)
  .github/workflows/unit-tests.yml
  .gitlab-ci.yml
  Makefile
  sonar-project.properties
Owners: @rhel-lightspeed/developers

Refactor command modules
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/exceptions.py
Owners: @rhel-lightspeed/developers

Add capture integration mode
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/exceptions.py
  command_line_assistant/initialize.py
  command_line_assistant/integrations.py
  command_line_assistant/terminal/__init__.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/environment.py
  command_line_assistant/utils/files.py
  command_line_assistant/utils/renderers.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/source/commands/base.rst
  docs/source/commands/index.rst
  docs/source/index.rst
  docs/source/man/command-line-assistant.1.rst
  docs/source/terminal/index.rst
  docs/source/terminal/parser.rst
  docs/source/terminal/reader.rst
  docs/source/utils/environment.rst
  docs/source/utils/files.rst
  tests/commands/test_shell.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Minor improvements and unit tests added
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/dbus/structures/chat.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  command_line_assistant/utils/cli.py
  docs/requirements.txt
  tests/commands/test_chat.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/conftest.py
  tests/rendering/decorators/test_text.py
  tests/terminal/__init__.py
  tests/terminal/test_parser.py
  tests/terminal/test_reader.py
  tests/test_initialize.py
  tests/utils/test_environment.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers

Add logging messages to the code
  command_line_assistant/commands/chat.py
  command_line_assistant/terminal/parser.py
Owners: @rhel-lightspeed/developers

Prevent the last `exit` log to be matched
  command_line_assistant/terminal/parser.py
  tests/terminal/test_parser.py
Owners: @rhel-lightspeed/developers

Track the develop branch in for CLA test suite (#153)
  .packit.yaml
Owners: @rhel-lightspeed/quality-engineering

Update makefile to install poetry
  Makefile
Owners: none

Update makefile to install poetry (#160)
  Makefile
Owners: none

Add deps for gitlab to install
  .gitlab-ci.yml
Owners: none

[RSPEED-231] Capture terminal output (#154)
  command_line_assistant/commands/base.py
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/dbus/structures/chat.py
  command_line_assistant/exceptions.py
  command_line_assistant/initialize.py
  command_line_assistant/integrations.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/terminal/__init__.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/environment.py
  command_line_assistant/utils/files.py
  command_line_assistant/utils/renderers.py
  data/release/man/c.1
  data/release/man/clad.8
  docs/requirements.txt
  docs/source/commands/base.rst
  docs/source/commands/index.rst
  docs/source/index.rst
  docs/source/man/command-line-assistant.1.rst
  docs/source/terminal/index.rst
  docs/source/terminal/parser.rst
  docs/source/terminal/reader.rst
  docs/source/utils/environment.rst
  docs/source/utils/files.rst
  tests/commands/test_chat.py
  tests/commands/test_history.py
  tests/commands/test_shell.py
  tests/conftest.py
  tests/rendering/decorators/test_text.py
  tests/terminal/__init__.py
  tests/terminal/test_parser.py
  tests/terminal/test_reader.py
  tests/test_initialize.py
  tests/utils/test_environment.py
  tests/utils/test_files.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

[RSPEED-579] Add deps gitlab (#161)
  .gitlab-ci.yml
Owners: none

Fix gitlab-ci -- remove sudo
  .gitlab-ci.yml
Owners: none

Fix gitlab-ci -- remove sudo (#163)
  .gitlab-ci.yml
Owners: none

Fix test pipeline
  tests/utils/test_cli.py
Owners: none

[RSPEED-579] Fix test pipeline (#164)
  tests/utils/test_cli.py
Owners: none

Fix sonarqube issues
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/config/schemas/database.py
  command_line_assistant/daemon/database/models/chat.py
  command_line_assistant/daemon/database/repository/base.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/history/manager.py
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Remove unused output config and code handler
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas/output.py
  command_line_assistant/handlers.py
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
  tests/config/schemas/test_schema.py
  tests/config/test_config.py
  tests/conftest.py
  tests/test_handlers.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Fix sonarqube issues (#165)
  command_line_assistant/config/schemas/backend.py
  command_line_assistant/config/schemas/database.py
  command_line_assistant/daemon/database/models/chat.py
  command_line_assistant/daemon/database/repository/base.py
  command_line_assistant/dbus/interfaces/chat.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/history/manager.py
  command_line_assistant/initialize.py
Owners: @rhel-lightspeed/developers

Remove unused output config and code handler (#166)
  command_line_assistant/config/__init__.py
  command_line_assistant/config/schemas/output.py
  command_line_assistant/handlers.py
  data/development/config/command-line-assistant/config.toml
  data/release/xdg/config.toml
  tests/config/schemas/test_schema.py
  tests/config/test_config.py
  tests/conftest.py
  tests/test_handlers.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Reverse order of the terminal output reader
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
Owners: @rhel-lightspeed/developers

Minor docstring changes
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/daemon/database/manager.py
  command_line_assistant/daemon/database/models/base.py
  command_line_assistant/daemon/database/models/history.py
  command_line_assistant/daemon/http/adapters.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/daemon/http/session.py
  command_line_assistant/daemon/session.py
  command_line_assistant/dbus/context.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/server.py
  command_line_assistant/dbus/structures/chat.py
  command_line_assistant/dbus/structures/history.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/logger.py
  command_line_assistant/rendering/base.py
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/decorators/style.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/rendering/renders/text.py
  command_line_assistant/rendering/stream.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/files.py
  command_line_assistant/utils/renderers.py
  docs/source/daemon/database/models/chat.rst
  docs/source/daemon/database/models/history.rst
Owners: @rhel-lightspeed/developers

Minor docstring changes (#168)
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/daemon/database/manager.py
  command_line_assistant/daemon/database/models/base.py
  command_line_assistant/daemon/database/models/history.py
  command_line_assistant/daemon/http/adapters.py
  command_line_assistant/daemon/http/query.py
  command_line_assistant/daemon/http/session.py
  command_line_assistant/daemon/session.py
  command_line_assistant/dbus/context.py
  command_line_assistant/dbus/interfaces/history.py
  command_line_assistant/dbus/server.py
  command_line_assistant/dbus/structures/chat.py
  command_line_assistant/dbus/structures/history.py
  command_line_assistant/history/base.py
  command_line_assistant/history/manager.py
  command_line_assistant/history/plugins/local.py
  command_line_assistant/logger.py
  command_line_assistant/rendering/base.py
  command_line_assistant/rendering/decorators/colors.py
  command_line_assistant/rendering/decorators/style.py
  command_line_assistant/rendering/decorators/text.py
  command_line_assistant/rendering/renders/spinner.py
  command_line_assistant/rendering/renders/text.py
  command_line_assistant/rendering/stream.py
  command_line_assistant/utils/cli.py
  command_line_assistant/utils/files.py
  command_line_assistant/utils/renderers.py
  docs/source/daemon/database/models/chat.rst
  docs/source/daemon/database/models/history.rst
Owners: @rhel-lightspeed/developers

Reverse order of the terminal output reader (#170)
  command_line_assistant/commands/chat.py
  command_line_assistant/commands/history.py
  command_line_assistant/commands/shell.py
  command_line_assistant/terminal/parser.py
  command_line_assistant/terminal/reader.py
Owners: @rhel-lightspeed/developers

Reverse order of the terminal output reader (#170)
  command_line_assistant/terminal/reader.py
Owners: @rhel-lightspeed/developers

Rename bash interactive function
  command_line_assistant/integrations.py
Owners: @rhel-lightspeed/developers

Rename interactive bash function (#171)
  command_line_assistant/integrations.py
  command_line_assistant/terminal/reader.py
Owners: @rhel-lightspeed/developers

Try the secret handling through the TF/packit
  .packit.yaml
  .testing-farm.yaml
Owners: @rhel-lightspeed/quality-engineering

Fix typing_extension and name change for chat command
  command_line_assistant/commands/chat.py
  command_line_assistant/terminal/reader.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Fix typing_extension and name change for chat command (#172)
  command_line_assistant/commands/chat.py
  command_line_assistant/terminal/reader.py
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers

Add --raw to get only response from backend
  command_line_assistant/commands/chat.py
  data/release/man/c.1
  data/release/man/clad.8
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Add unit tests
  data/release/man/c.1
  data/release/man/clad.8
  tests/commands/test_chat.py
Owners: @rhel-lightspeed/developers, @rhel-lightspeed/quality-engineering

Update renovate config
  renovate.json
Owners: none

Update renovate config (#173)
  renovate.json
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# CLA codebase itself
command_line_assistant/   @rhel-lightspeed/developers
.github/                  @rhel-lightspeed/developers
data/                     @rhel-lightspeed/developers @rhel-lightspeed/quality-engineering

# Integration tests
.packit.yaml              @rhel-lightspeed/quality-engineering

# Packaging
packaging/                @r0x0d
